/* table name  */
.price-table{
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 30px;
    font: 13px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 10px;
}
/* main title  */
.product-title-resp{
    color:#1e78b7;
    font-size:40px;
    font-weight:600;
}
.comparison-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
}
.product {
    background-color: #39DB4A;
    font-size: 18px;
    color:#ffffff;
    padding:15px 0px;
    text-align:center;
}
.product-feature {
    background-color: #39DB4A;
    font-size: 18px;
    color:#ffffff;
}
.price-now span {
    font-size: 40px;
    color: #FFFFFF;
    text-align:center;
}
.price-now p {
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    display: inline;
    color: #545454;
}
.comparison-table td{
    border-right: 1px solid #E8E8E8;
    empty-cells: show;
    padding: 15px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    color: black;
    font-size: 16px;
}
.price-table tbody tr:nth-child(odd) {
    display: none;
}
.compare-row {
    background-color: #F7F7F7;
    text-align: center;
}
.price-table tr{
    text-align: center;
    padding: 15px 0px 15px 0px;
}
.fa-check {
    color: #69C7F1;
}
.fa-times {
    color: red;
}
.get-started-btn {
    background: #EC671A;
    padding: 10px 20px;
    font-size: 14px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 5px 0 10px 0;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}
.get-started-btn:hover {
    background: #E84D00;
}
@media screen and (min-width: 721px) and (max-width: 1000px) {
    .price-now span {
        font-size: 32px;
   }
    .price-now p {
        display: block;
   }
}
@media screen and (max-width: 728px) {
    .price-table{
        max-width: 100%;
   }
    .product{
        font-size: 16px;
   }
    .price-now span {
        font-size: 16px;
   }
    .price-table td:first-child, .price-table th:first-child {
        display: none;
   }
    .price-table tbody tr:nth-child(odd) {
        display: table-row;
        background-color: #e2e0e0;
        font-weight:600;
   }
    .price-table td, .price-table th {
        border: 0px solid #CCC;
        border-top: none;
        padding: 10px;
   }
    .compare-row {
        background-color: #ffffff;
   }
    .get-started-btn {
        background-color: #EC671A;
        padding: 10px 10px;
        font-size: 12px;
   }
}
